.container{
        text-align: center;
        outline: 1px solid black;
        
}
.sixthnum{
    font-size: 80px;
    padding: 0px
}
.fifthnum{
    font-size: 80px;
    padding: 0px;
}
body{
    background-color: rgb(25, 144, 255);
}
p{
    
    display: inline-block;
    font-family: 'Franklin Gothic Medium';
    font-size: 120px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
